<!DOCTYPE html>
<html>
<head>
  <title>Web components: template</title>
</head>
<body>
  <template id="tpl-prueba">
    <div>
      <h1>Hola, mi primer template</h1>
      <p>¿Cómo estas?</p>
    </div>
  </template>
  
  <div id="host"></div>
  <script>
    (function(){
      const host = document.getElementById("host");
      const tpl = document.getElementById("tpl-prueba");
      /**
       * "document.importNode" is useful when the node to clone comes from another document, for example an iframe
       * ¿Is "importNode" a good idea for SSR (Server Side Rendering)? I think it isn´t
       * const tplInst = document.importNode(tpl.content, true);
       */
      const tplInst = tpl.content.cloneNode(true);
      host.appendChild(tplInst);
    })();
  </script>

  <h2>Ejercicio</h2>
  <p>Crear un template, el cual tenga una imagen con un caption del lado derecho y al lado izquierdo una información mas larga sobre la imagen(minimo un parrafo)</p>
</body>
</html>