<!DOCTYPE html>
<html>
<head>
  <title>Web components: template</title>
</head>
<body>
  <template id="tpl-prueba">
    <div>
      <h1>Hola, mi primer template</h1>
      <p>¿Cómo estas?</p>
    </div>
  </template>
  
  <div id="huesped">
    
  </div>
  <script>
      const host = document.getElementById("huesped");
      const tpl = document.getElementById("tpl-prueba");
      const tplInst = tpl.content.cloneNode(true);
      
      host.appendChild(tplInst);

      // Ejemplo usando document fragments
      const df = document.createDocumentFragment();

      // crear elementos con contenido texto
      const div = document.createElement('div');
      const h1 = document.createElement('h1');
      const p = document.createElement('p');

      const p2 = document.createElement('p');
      p2.textContent = 'Hello';
      host.appendChild(p2);
      
      h1.textContent = 'Hola, template manual';
      p.textContent = '¿Como estas';

      // Agrego h1 y p al div
      div.appendChild(h1);
      div.appendChild(p);
      
      //aggrego el div al document framente "df"
      df.appendChild(div);

      // Agregar document fragmente a la página 
      host.appendChild(df)

  </script>

  <h2>Ejercicio</h2>
  <p>Crear un template, el cual tenga una imagen con un caption del lado derecho y al lado izquierdo una información mas larga sobre la imagen(minimo un parrafo)</p>
</body>
</html>